In [8]:
import pandas as pd

csv_encoding = 'Shift_JISx0213'
inputFile = ".\\Data\\rawdata_20200125224501.csv"

In [13]:
# ヘッダ名のリストを読み込んでDataFrameに保存する。
headerList = pd.read_csv(headerListFile, encoding=csv_encoding)
display(headerList.head(5))

      From   To
0    学校コード  scc
1      学校名  scn
2       学年  gra
3     答案番号   id
4  集計対象_1国   1J

In [14]:
# ヘッダ名変更の際に使用するDictionayを生成する為、From列をDFのIndexに設定する。
headerListFromTo = headerListFromTo.set_index(headerFrom)
display(headerListFromTo.head(5))

          To
From
学校コード    scc
学校名      scn
学年       gra
答案番号      id
集計対象_1国   1J

In [15]:
# DFからDictionary生成。
headerDictFromTo = headerListFromTo.to_dict()
display(headerDictFromTo[headerTo])

{'学校コード': 'scc',
 '学校名': 'scn',
 '学年': 'gra',
 '答案番号': 'id',
 '集計対象_1国': '1J',
 '集計対象_1数': '1M',
 '集計対象_1英': '1E',
 '集計対象_2国': '2K',
 '集計対象_2社A': '2SA',
 '集計対象_2社B': '2SB',
 '集計対象_2数': '2M',
 '集計対象_2理A': '2RA',
 '集計対象_2理B': '2RB',
 '集計対象_2英': '2E'}

In [16]:
# ヘッダ書き換え対象のCSVを読み込んでDFに保存。
df_org = pd.read_csv(inputFile, encoding=csv_encoding)
display(df_org.head(3))

,所在地都道府県コード,都道府県名,学校コード,学校名,設置者コード,設置者名,学年,答案番号,出席番号_1国,出席番号_1数,...,正誤_2英_28,正誤_2英_29,正誤_2英_30,正誤_2英_31,正誤_2英_32,正誤_2英_33,正誤_2英_34,正誤_2英_35,正誤_2英_36,正誤_2英_37
0,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000001,01,01,...,-,-,-,-,-,-,-,-,-,-
1,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000002,02,02,...,-,-,-,-,-,-,-,-,-,-
2,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000004,04,04,...,-,-,-,-,-,-,-,-,-,-

In [17]:
# ヘッダの書き換え。
df_changed = df_org.rename(columns=headerDictFromTo[headerTo])
display(df_changed.head(3))

,所在地都道府県コード,都道府県名,scc,scn,設置者コード,設置者名,gra,id,出席番号_1国,出席番号_1数,...,正誤_2英_28,正誤_2英_29,正誤_2英_30,正誤_2英_31,正誤_2英_32,正誤_2英_33,正誤_2英_34,正誤_2英_35,正誤_2英_36,正誤_2英_37
0,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000001,01,01,...,-,-,-,-,-,-,-,-,-,-
1,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000002,02,02,...,-,-,-,-,-,-,-,-,-,-
2,27,大阪府,55020091,大阪市立阿倍野中学校,95000000,大阪市教育委員会,3,1000004,04,04,...,-,-,-,-,-,-,-,-,-,-